*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    }

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 2.5em;
    color: #3a86ff; 
}
h2{
    font-size: 1.8em;
    color: #3a86ff; 
}
h3{
    font-size: 1.4em;
    color: #3a86ff; 
}
p{font-size: 1.25em;}
ul{list-style: none;}

footer {
    padding: 30px;
}

#container {
    max-width: 1400px;
    margin: auto;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.menu {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center ;
}

.menu li {
    padding: 20px;
}

/* Index */

.hero {
    display: flex;
    justify-content: end;
    height: 80vh;
    align-items: top;
    text-align: right;
    background-image: url(../img/img-17.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}

.hero h1 {
    padding-top: 2em;
    padding-right: 2em;
}

.promesa {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promesa img {
    max-width: 50%;
}

.promesa div{
    padding: 20px 10px;
}

.promesa h2 {
    padding: 30px 0;
}

.imagenBeneficios {
    text-align: center;
}

.imagenBeneficios img {
    max-width: 100%;
}

.imagenBeneficios h2{
    padding: 20px 10px;
    text-align: left;
}


.nuestrosProductos {
    display: flex;
    padding: 20px 0;
    align-items: center;
}

.nuestrosProductos img {
    max-width: 50%;
}

.nuestrosProductos h2{
    padding: 30px 10px;
}

.nuestrosProductos p{
    padding: 0 10px;
}

.categorias ul{
    display: flex;
    justify-content: space-around;

}

.categorias img {
    width: 300px;
    max-width: 100%;
}

.clientes{
    padding: 30px 0;
}

.clientes h2 {
    padding: 30px 10px;
}

.clientes div{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.clientes div div{
    flex-direction: column;
}

footer {
    display: flex;
    justify-content: space-around;
}

/* Track day */

.heroTrackDay {
    display: flex;
    justify-content: end;
    height: 80vh;
    align-items: center;
    text-align: right;
    background-image: url(../img/img-2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0;
}
.heroTrackDay h1 {
    padding: 0 30px;
}

.beneficiosTrackDay{
    text-align: center;
}

.beneficiosTrackDay img {
    max-width: 80%;
}

.beneficiosTrackDay h2 {
    text-align: left;
    padding: 0px 10px 20px 10px;
}

.diferencialTrackDay {
    display: flex;
    padding: 30px 0;
    align-items: center;
}

.diferencialTrackDay img {
    max-width: 30%;
    padding: 40px;
}

.diferencialTrackDay div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.diferencialTrackDay p {
    padding: 30px 10px;
}

.tecnologiaTrackDay h2 {
    padding: 30px 10px 0 40px;
}

.tecnologiaTrackDay div {
    display: flex;
    align-items: center;
}

.tecnologiaTrackDay img {
    max-width: 60%;
    margin: 40px;
}

.tecnologiaTrackDay p {
    margin: 40px;
}

/* Formula uno */

.heroFormula1 {
    display: flex;
    justify-content: end;
    height: 80vh;
    align-items: flex-end;
    text-align: right;
    background-image: url(../img/img-16.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0;
}

.beneficiosFormula1 {
    text-align: center;
    padding: 30px;
}

.beneficiosFormula1 img {
    max-width: 100%;
}

.beneficiosFormula1 h2 {
    padding-bottom: 30px;
}

.recomendacionFormula1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.recomendacionFormula1 img {
    max-width: 60%;
    padding: 30px;
}

.recomendacionFormula1 div {
    padding: 30px;
}

.recomendacionFormula1 h2 {
    padding: 30px;
}

.premioFormula1 {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    justify-content: center;
}

.premioFormula1 img {
max-width: 100%;
}

.premioFormula1 div {
    max-width: 50%;
    padding: 30px;
}

.premioFormula1 h2 {
    padding: 30px;
}

/* drift */

.heroDrift {
    display: flex;
    justify-content: end;
    height: 80vh;
    align-items: flex-end;
    text-align: right;
    background-image: url(../img/img-19.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px 0;
}

.campeonatoDrift {
    padding: 30px;
}

.campeonatoDrift h2 {
    padding-bottom: 30px;
}

.campeonatoDrift img {
    max-width: 100%;
}

.recomendacionDrift {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.recomendacionDrift img {
    max-width: 30%;
}

.recomendacionDrift div {
    padding: 30px;
    max-width: 60%;
}

.recomendacionDrift h2 {
    padding: 30px;
}

.articuloDrift {
    display: flex;
    align-items: center;
    padding: 30px;
}

.articuloDrift img {
    max-width: 50%;
}

.articuloDrift div {
    padding: 30px;
}

.articuloDrift h2 {
    padding: 30px;
}

/* Nosotros */

.nosotros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.nosotros img {
    max-width: 50%;
}

.nosotros h1 {
    padding: 30px;
}

.nosotros div {
    max-width: 40%;
}


.comienzos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}

.comienzos img {
    max-width: 35%;
}

.comienzos div {
    max-width: 60%;
}

.comienzos h2 {
    padding: 30px;
}

.tecnologia h2{
    padding: 30px;
    text-align: center;
}

.imgTecnologia {
    text-align: center;
    padding-bottom: 30px;
}

.imgTecnologia img {
    max-width: 100%;
}

.tecnologiaFlex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
}
.tecnologiaFlex p {
    max-width: 40%;
}
.tecnologiaFlex img {
    max-width: 35%;
}

/* Media queries para hacer Responsive */
/* Index */

@media only screen and (max-width: 576px) {

    .hero {
        justify-content: center;
        align-items: flex-end;
        background-image: linear-gradient(
            0deg,
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.3)
        )
        ,url(../img/img-17.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;       
    }
    .hero h1 {
        text-align: center;
        color: whitesmoke;
        padding: 0;
    }

    .promesa {
        flex-direction: column-reverse;
    }

    .promesa div {
        padding: 0;
    }

    .promesa h2, p {
        text-align: center;
    }

    .promesa img{
        padding: 20px;
        max-width: 100%;
    }

    .imagenBeneficios {
        display: none;
    }

    .nuestrosProductos {
        flex-direction: column-reverse;
    }

    .nuestrosProductos h2, p {
        text-align: center;
    }

    .nuestrosProductos img {
        padding: 20px;
        max-width: 100%;
    }
    
    
    .categorias ul{
        flex-direction: column;
        align-items: center;
    }
    
    .categorias ul h2 {
        padding: 20px;
    }

    .clientes img {
        max-width: 50%;
    }

    /* Trackday.html */

    .beneficiosTrackDay h2 {
        text-align: center;
    }

    .diferencialTrackDay {
    flex-direction: column-reverse;
    }

    .diferencialTrackDay h2 {
        text-align: center;
    }

    .diferencialTrackDay img {
        max-width: 70%;
    }

    .tecnologiaTrackDay div {
        flex-direction: column-reverse;
    }

    .tecnologiaTrackDay img {
        max-width: 90%;
        margin: 20px 0;
    }

    .tecnologiaTrackDay h2, p {
        padding: 0;
        text-align: center;
    }

    /* formulauno.html */

    .heroFormula1 {
        height: 40vh;
    }

    .recomendacionFormula1 {
        flex-direction: column-reverse;
        justify-content: center;
    }

    .recomendacionFormula1 img {
    max-width: 100%;
    }

    .premioFormula1 {
        flex-direction: column;
    }
    
    .premioFormula1 div {
        max-width: 100%;
        padding-top: 0;
    }
    
    .premioFormula1 h2 {
        padding-top: 0;
    }

    /* Drift.html */

    .heroDrift {
        height: 40vh;
    }

    .recomendacionDrift {
        flex-direction: column-reverse;
    }

    .recomendacionDrift img {
        max-width: 60%;
    }

    .recomendacionDrift div {
        max-width: 100%;
        padding-top: 0;
    }
    
    .recomendacionDrift h2 {
    padding-top: 0;
    }

    .articuloDrift {
        flex-direction: column;
        padding-top: 0;
    }

    .articuloDrift div {
        padding: 0;
    }

    .articuloDrift h2 {
        padding-top: 0;
        text-align: center;
    }

    .articuloDrift img {
        max-width: 100%;
        padding-top: 30px;
    }

    /* nosotros.html */

    .nosotros {
        flex-direction: column;
    }

    .nosotros img {
        max-width: 100%;
    }

    .nosotros div {
        max-width: 100%;
    }

    .nosotros h1 {
        text-align: center;
    }

    .comienzos img {
        display: none;
    }

    .comienzos {
        background-image: linear-gradient(
            0deg,
            rgb(0, 0, 0, 0.3),
            rgb(0, 0, 0, 0.3)
        )
        ,url(../img/img-5.jpg);
        height: 50vh;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;       
    }

    .comienzos div {
        max-width: 100%;
    }

    .comienzos h2 {
        color: #FFBE0B;
        text-align: center;
    }

    .comienzos p {
        color: white;
    }

    .imgTecnologia {
        padding: 0;
    }

    .tecnologiaFlex {
        flex-direction: column;
        padding: 0;
    }

    .tecnologiaFlex img{    
        max-width: 100%;
    }

    .tecnologiaFlex p {
        max-width: 100%;
        padding: 30px;
    }
    
}