@import "./base/variables";
@import "./base/maps";
@import "./base/mixin";
@import "./base/extend";
@import "./base/footer";
@import "./componentes/global";
@import "./componentes/index";
@import "./componentes/formulauno";
@import "./componentes/trackday";
@import "./componentes/nosotros";
@import "./componentes/drift";
@import"./base/media-cel";
@import"./base/media-tablet";

/* Bootstrap */

/* nav */
.nav-link-propio {
    color: black;
    margin: 0 20px;
    text-align: end;
}

.navbar-icon-propio {
    background-image: url(../img/menu.png);
}

.button-propio {
    border: none;
}

.navbarPropio {
    justify-content: flex-end;
}
