*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    }

body{
    font-family: 'Roboto', sans-serif;
}

a {
    color: $Color-principal;
    text-decoration: none;
}

h1{
    font-size: map-get($map: $global, $key: h1-size);
    color: $Color-principal;
}

h2{
    font-size: map-get($map: $global, $key: h2-size);
    color: $Color-principal;
}
h3{
    font-size: map-get($map: $global, $key: h3-size);
    color: $Color-principal;

}
p{    font-size: map-get($map: $global, $key: p-size);}
ul{list-style: none;}

footer {
    padding: 30px;
}

#contenedor {
    max-width: 1400px;
    margin: auto;
}